{% include "head.html" %}
{% include "admin_header.html" %}
  <script type="text/javascript" language="javascript" class="init">
   $(document).ready(function() {
     {% include "admin.js" %}
   });
  </script>
 </head>
 <body>
{% include "banner.html" %}
  <h1>iRace Admin</h1>
  <div class="right">
   <div><p><a href="/regenerate_html">Regenerate HTML</a></p></div>
   <div>
    <form action="/add_league" method="get">
     <label for="league_id">League ID</label>
     <input type="text" name="league_id">
     <input type="submit" value="Add">
    </form>
   </div>
   <div>
    <form action="/delete_league" method="get">
     <label for="league_id">League ID</label>
     <input type="text" name="league_id">
     <input type="submit" value="Delete">
    </form>
   </div>
  </div>
  <div class="center large"><p>Leagues</p></div>
  <table id="standings" class="display compact indexed">
   <thead>
    <tr>
     <th></th>
     <th>Name</th>
     <th>ID</th>
     <th>Members</th>
     <th>Last Member Update</th>
     <th>Update Members</th>
     <th>Seasons</th>
     <th>Last Season Update</th>
     <th>Next Season Update</th>
     <th>Update Seasons</th>
    </tr>
   </thead>
   <tbody>
    {%- for league in leagues|sort(attribute="league_id") %}
    <tr>
     <td></td>
     <td><a href='{{ irace_host }}/{{ league["league_id"] }}.html'>{{ league["league_name"] }}</a></td>
     <td>{{ league["league_id"] }}</td>
     <td>{{ league["members_count"] }}</td>
     <td>{{ league["members_last_updated"] }}</td>
     <td><a href='/update/members/{{ league["league_id"] }}/'>Update</a></td>
     <td><a href='/leagues/{{ league["league_id"] }}/'>{{ league["seasons"]|length }}</a></td>
     <td>{{ league["seasons_last_update"] }}</td>
     <td>{{ league["seasons_next_update"] }}</td>
     <td><a href='/update/seasons/{{ league["league_id"] }}/'>Update</a></td>
    </tr>
    {%- endfor %}
   </tbody>
  </table>
  {% include "admin_footer.html" %}
