<!DOCTYPE html>
<html lang="en-US">
 <head>
  <meta charset="utf-8">
  <title>iRace Leagues</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
 </head>
 <body>
  {%- for league in leagues %}
  <p><a href='/{{ league["leagueid"] }}.html'>{{ league["leaguename"] }}</a></p>
  {%- endfor %}
 </body>
</html>
