{% include "head.html" %}
  <title>iRace Leagues</title>
 </head>
 <body>
{% include "banner.html" %}
  <h1><a href="https://github.com/a-tal/irace">iRace</a> Tracked Leagues</h1>
  <div class="center large">
   {%- for league in leagues %}
   <p><a href='/{{ league["leagueid"] }}.html'>{{ league["leaguename"] }}</a></p>
   {%- endfor %}
  </div>
  <p class="small center bottom">If you would like your league added here, send Adam Talsma a PM on iRacing with the league name.</p>
 </body>
</html>
