<!DOCTYPE html>
<html lang="en-US">
 <head>
  <title>{{ league["leaguename"] }} at {{ race["track_name"] }} lap data for {{ driver["displayname"] }}</title>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
  <script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
  <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" class="init">
   $(document).ready(function() {
     $("#results").DataTable({
       "lengthMenu": [[25, -1], [25, "All"]]
     });
   });
  </script>
 </head>
 <body>
  <p><a href='/{{ league["leagueid"] }}.html'>{{ league["leaguename"] }}</a> <a href='/{{ league["leagueid"] }}/seasons/{{ season["league_season_id"] }}.html'>{{ season["league_season_name"] }}</a> at <a href='/{{ league["leagueid"] }}/seasons/{{ season["league_season_id"] }}/{{ race["subsessionid"] }}.html'>{{ race["track_name"] }}</a></p>
  <p>Laps driven by <a href='/{{ league["leagueid"] }}/members/{{ driver["custid"] }}.html'>{{ driver["displayname"] }}</a></p>
  <table id="results">
   <thead>
    <tr>
     <th>Lap</th>
     <th>Time</th>
     <th>Incidents</th>
    </tr>
   </thead>
   <tbody>
    {%- for lap in laps.laps %}
    <tr>
     <td>{{ lap.lap }}</td>
     <td>{{ time_string(lap.time) }}</td>
     <td>{{ ", ".join(lap.flag_names) }}</td>
    </tr>
    {%- endfor %}
   </tbody>
  </table>
 </body>
</html>
