{% include "head.html" %}
  <title>{{ league["leaguename"] }}</title>
 </head>
 <body>
{% include "banner.html" %}
  <h1>{{ league["leaguename"] }} Seasons</h1>
  <div class="center large">
   {%- for season in seasons %}
   <p><a href='/{{ league["leagueid"] }}/{{ season["league_season_id"] }}.html'>{{ season["league_season_name"] }}</a></p>
   {%- endfor %}
  </div>
  <div class="center bottom">
   <p><a href="/">All Leagues</a></p>
  </div>
 </body>
</html>
