{% include "head.html" %}
  <title>{{ league["leaguename"] }} member {{ member["displayName"] }}</title>
 </head>
 <body>
{% include "banner.html" %}
  <p>Content for {{ league["leaguename"] }} member {{ member["displayName"] }} ... TODO</p>
 </body>
</html>
