{% include "head.html" %}
  <title>{{ league["leaguename"] }} league members</title>
 </head>
 <body>
{% include "banner.html" %}
  <p><a href='/{{ league["leagueid"] }}.html'>{{ league["leaguename"] }}</a> league members</p>
  {%- for member in members %}
  <p><a href='/{{ league["leagueid"] }}/members/{{ member.custID }}.html'>{{ member.displayName }}</a></p>
  {%- endfor %}
 </body>
</html>
