<!DOCTYPE html>
<html lang="en-US">
 <head>
  <title>{{ league["leaguename"] }} member {{ member["displayName"] }}</title>
 </head>
 <body>
  <p>Content for {{ league["leaguename"] }} member {{ member["displayName"] }} ... TODO</p>
 </body>
</html>
