{% include "head.html" %}
  <title>{{ league["leaguename"] }} at {{ race.race["track_name"] }}</title>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
  <link rel="stylesheet" type="text/css" href="/js/Chart.min.css">
  <script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
  <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" language="javascript" src="/js/moment.min.js"></script>
  <script type="text/javascript" language="javascript" src="/js/datetime.js"></script>
  <script type="text/javascript" language="javascript" src="/js/Chart.min.js"></script>
  <script type="text/javascript" language="javascript" src="/js/race.js"></script>
  <script type="text/javascript" language="javascript">
    {% include "race.js" %}
  </script>
 </head>
 <body>
{% include "banner.html" %}
  <h1>
   <p>
    <span><a href='/{{ league["leagueid"] }}.html'>{{ league["leaguename"] }}</a> <a href='/{{ league["leagueid"] }}/{{ season["league_season_id"] }}.html'>{{ season["league_season_name"] }}</a></span><br>
    <span>{{ race.race["track_name"] }}</span>
   </p>
  </h1>
  <h2>
   <p class="small">
    <span>{{ race.race_day }}</span><br>
    <span>Sim: {{ race.race["simulatedstarttime"] }} | Weather: {{ race.race["weather_temp_value"] }}{% if race.race["weather_temp_units"] == 0 %}F{% else %}C{% endif %}</span>
   </p>
  </h2>
  <table id="results" class="display compact">
   <thead>
    <tr>
     <th></th>
     <th>Name</th>
     {%- if race.multiclass -%}<th>Class</th>{%- endif -%}
     <th>Interval</th>
     <th>Finish</th>
     {%- if race.multiclass -%}<th>Class Finish</th>{%- endif -%}
     <th>Start</th>
     <th>Result</th>
     <th>Laps</th>
     <th>Fast Lap</th>
     <th>Fastest Lap</th>
     <th>Incidents</th>
     <th>Points</th>
    </tr>
   </thead>
   <tbody>
    {%- for result in race.results %}
    <tr>
     <td></td>
     <td class="serif left"><a href='/drivers/{{ result["custid"] }}.html'>{{ result["displayname"]}}</a></td>
     {%- if race.multiclass -%}
     <td class="serif">{{ result["ccNameShort"] }}</td>
     {%- set interval = result["classinterval"] -%}
     {%- set finishPos = result["finishposinclass"] -%}
     {%- set lapsComplete = race.class_laps_completed[result["ccNameShort"]] -%}
     {%- else -%}
     {%- set interval = result["interval"] -%}
     {%- set finishPos = result["finishpos"] -%}
     {%- set lapsComplete = race.race["eventlapscomplete"] -%}
     {%- endif -%}
     <td>{% if interval > 0 or finishPos == 0 %}{{ time_string_raw(interval) }}{% else %}{{ result["lapscomplete"] - lapsComplete }}L{% endif %}</td>
     <td>{{ result["finishpos"] + 1 }}</td>
     {%- if race.multiclass -%}<td>{{ result["finishposinclass"] + 1 }}</td>{%- endif -%}
     <td>{{ result["startpos"] + 1 }}</td>
     <td class="serif">{{ result["reasonout"] }}</td>
     <td><a href='javascript:showLaps({{ result["custid"] }})'>{{ result["lapscomplete"] }}</a></td>
     <td>{% if result["bestlapnum"] > 0 %}{{ result["bestlapnum"] }}{% else %}-{% endif %}</td>
     <td>{{ time_string_raw(result["bestlaptime"]) }}</td>
     <td>{{ result["incidents"] }}</td>
     <td>{{ result["league_points"] }}</td>
    </tr>
    {%- endfor %}
   </tbody>
  </table>
  {%- for laps in race.laps %}
  <div id='laps-{{ laps.driver_id }}' class="laps">
   <p>{{ laps.driver }} laps driven</p>
   <div class="hideX"><a href="javascript:hideLaps()" title="Close">x</a></div>
   <table id='{{ laps.driver_id }}-laps' class="display compact lapdata">
    <thead>
     <tr>
      <th>Lap</th>
      <th>Time</th>
      <th>Incidents</th>
     </tr>
    </thead>
    <tbody>
     {%- for lap in laps.laps %}
     <tr>
      <td>{{ lap.lap }}</td>
      <td>{% if lap.lap == 0 %}--:--{% else %}{{ time_string(lap.time) }}{% endif %}</td>
      <td class="serif">{{ ", ".join(lap.flag_names) }}</td>
     </tr>
     {%- endfor %}
    </tbody>
   </table>
  </div>
  {%- endfor %}
  <div id="toggleLaps" class="center large">
   <a href="javascript:toggleLaps()" class="gray">Lap Times Chart (click to <span id="toggleLapsState">show</span>)</a>
  </div>
  <div id="lapTimeChart" class="chartContainer" hidden=true>
   <canvas id="lapTimesChart" width="400" height="400"></canvas>
  </div>
 </body>
</html>
