{% include "head.html" %}
  <title>{{ league["leaguename"] }} {{ season["league_season_name"] }}</title>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
  <script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
  <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" language="javascript" class="init">
   $(document).ready(function() {
     var t = $("#standings").DataTable({
       "order": [[ 2, "asc" ]],
       "lengthMenu": [[25, -1], [25, "All"]],
       "columnDefs": [{
         "searchable": false,
         "orderable": false,
         "targets": 0
       }],
       "aoColumns": [
         null,
         null,
         null,
         {"orderSequence": ["desc", "asc"]},
         {"orderSequence": ["desc", "asc"]},
         {"orderSequence": ["desc", "asc"]},
         {"orderSequence": ["desc", "asc"]},
         {"orderSequence": ["desc", "asc"]},
         {"orderSequence": ["desc", "asc"]},
         null,
         null,
         {"orderSequence": ["desc", "asc"]},
         null,
         {"orderSequence": ["desc", "asc"]}
       ]
     });
     t.on("order.dt search.dt", function() {
       t.column(
         0,
         {search: "applied", order: "applied"}
       ).nodes().each(function(cell, i) {
         cell.innerHTML = i + 1;
       });
     }).draw();
     $("#races").DataTable({
       "searching": false,
       "ordering": false,
       "paging": false,
       "info": false
     });
   });
  </script>
 </head>
 <body>
{% include "banner.html" %}
  <h1><a href='/{{ league["leagueid"] }}.html'>{{ league["leaguename"] }}</a> {{ season.season["league_season_name"] }}</h1>
  <div class="container">
   <div class="center large"><p>Races</p></div>
   <table id="races" class="display compact">
    <thead>
     <tr>
      <th></th>
      <th>Track</th>
      <th>Winner</th>
      <th>Drivers</th>
      <th>Date</th>
     </tr>
    </thead>
    <tbody>
     {%- for race in season.races|sort(attribute="subsessionid") %}
     <tr>
      <td>{{ loop.index }}</td>
      <td class="serif"><a href='/{{ league["leagueid"] }}/{{ season.season["league_season_id"] }}/{{ race.subsessionid }}.html'>{{ race.race["track_name"] }}</a></td>
      <td class="serif">{% if race.winner_id %}<a href='/drivers/{{ race.winner_id }}.html'>{% endif %}{{ race.winner }}{% if race.winner_id %}</a>{% endif %}</td>
      <td>{{ race.results|length }}</td>
      <td class="serif">{{ race.race_day }}</td>
     </tr>
     {%- endfor %}
    </tbody>
   </table>
  </div>
  <div class="center large"><p>Season Standings</p></div>
  <table id="standings" class="display compact">
   <thead>
    <tr>
     <th></th>
     <th>Name</th>
     <th>Position</th>
     <th>Points</th>
     <th>Races</th>
     <th>Wins</th>
     <th>Podiums</th>
     <th>Top 5</th>
     <th>Top 10</th>
     <th>Avg Start</th>
     <th>Avg Finish</th>
     <th>Laps</th>
     <th>Incidents</th>
     <th title="Corners per incident">CPI</th>
    </tr>
   </thead>
   <tbody>
    {%- for driver in season.standings %}
    <tr>
     <td></td>
     <td class="serif left"><a href='/drivers/{{ driver.driver_id }}.html'>{{ driver.driver }}</a></td>
     <td>{{ driver.position }}</td>
     <td>{{ driver.points }}</td>
     <td>{{ driver.races }}</td>
     <td>{{ driver.wins }}</td>
     <td>{{ driver.podiums }}</td>
     <td>{{ driver.top5 }}</td>
     <td>{{ driver.top10 }}</td>
     <td>{{ "{:.0f}".format(driver.avg_start) }}</td>
     <td>{{ "{:.0f}".format(driver.avg_finish) }}</td>
     <td>{{ driver.laps }}</td>
     <td>{{ driver.incidents }}</td>
     <td>{{ driver.corners_per_incident }}</td>
    </tr>
    {%- endfor %}
   </tbody>
  </table>
 </body>
</html>
