body {
  background-color: #eee;
  color: #000;
}
.laps {
  background-color: #ddd;
  width: 400px;
  display: none;
  position: absolute;
  top: 99px;
  left: calc(50% - 200px);
  margin: 0 auto;
  border: 5px solid #444;
}
.laps>p {
  margin: 5px 0 10px;
  text-align: center;
  font-size: larger;
  font-weight: 600;
}
.hideX {
  position: absolute;
  width: 20px;
  top: 0px;
  left: calc(100% - 12px);
}
.hideX>a {
  text-decoration: none;
}
