{% include "fork.css" %}
body {
  background-color: #eee;
  color: #000;
  margin: 0;
  padding-bottom: 0.25em;
  font-family: 'Roboto', sans-serif;
}
p {
  margin: 0;
  padding: 0;
}
.laps {
  background-color: #ddd;
  width: 400px;
  display: none;
  position: absolute;
  top: 158px;
  left: calc(50% - 200px);
  margin: 0 auto;
  border: 5px solid #444;
}
.laps>p {
  margin: 5px 0 10px;
  text-align: center;
  font-size: larger;
  font-weight: 600;
}
.hideX {
  position: absolute;
  width: 20px;
  top: 0px;
  left: calc(100% - 12px);
}
a {
  text-decoration: none;
}
h1, h2 {
  text-align: center;
  margin: 0 auto;
}
h1 {
  font-weight: 600;
  min-height: 158px;
  line-height: 158px;
  margin: 0 0 0.25em;
  font-size: 1em;
  white-space: nowrap;
  word-wrap: normal;
}
h1 > p {
  display: inline-block;
  line-height: 0;
  vertical-align: middle;
}
h1 > p > span {
  line-height: 1em;
}
@media screen and (min-width: 320px) {
  h1 {
    font-size: calc(1em + 6 * ((100vw - 320px) / 680));
  }
  h1 > p > span {
    line-height: calc(1em + 6 * ((100vw - 320px) / 680));
  }
}
@media screen and (min-width: 1600px) {
  h1 {
    font-size: 2em;
  }
  h1 > p > span {
    line-height: 2em;
  }
}
h1, .bottomBorder {
  border-bottom: 2px solid #444;
}
.large {
  font-size: x-large;
}
.large>p {
  margin: 1em;
}
.small {
  font-size: small;
}
.center {
  text-align: center;
  margin: 0 auto;
}
.bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #eee;
}
.fork-me {
  background-color: green;
}
td {
  font-family: 'Roboto Mono', monospace;
  text-align: center;
}
.serif {
  font-family: 'Roboto', sans-serif;
}
.left {
  text-align: left;
}
table:not(.lapdata) td:first-child {
  font-weight: 600;
  border-right: 1px solid black;
}
.container {
  width: 70%;
  max-width: 800px;
  margin: 0 auto;
}
